
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Poetry
poetry.lock

# PyCharm
.idea/

# VS Code
.vscode/

# Docker
.docker/

# Environment variables
.env

# Logs
*.log

# Test coverage
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Minikube
.minikube/
